:root {
  --main-title-color: #ffffff;
  --second-title-color: #323232;
  --main-text-color: #999999;
  --second-text-color: #ffffff;
  --accent-color: #4985ff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: Montserrat, sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
/* HEADER */
/* Временый фон */
.header {
  background-color: var(--main-text-color);
}
.nav-list {
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--second-text-color);
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
/* hero */
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--second-text-color);
}
.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;

  color: var(--main-title-color);
}
.hero {
  background-color: var(--main-text-color);
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--second-text-color);
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-btn {
  margin: 0 auto;
}
